    @import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');


    body {
        color: #fff;
        background-color: #000000;
        background-position: center 130%, center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
        background-size: cover;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
    }

    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        height: 100%;
    }

    * {
        margin: 0;
        padding: 0;
        max-width: 100%;
        box-sizing: border-box;
    }


    a {
        text-decoration: none;
        color: #e54848;
    }

    .stop {
        display: none;
    }

    img {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    ::selection {
        background-color: rgba(255, 0, 8, 0.4);
    }


    /* //////////////////////////////////////////////////////           navbar 🔴         //////////////////////////////////////////////////////*/

    .sun {
        font-size: large;
        color: #fff;
        transition: 0.5s;
        margin-right: -40px;
        border-radius: 8px;
        padding: 5px 7px;
        text-align: center;
        margin-top: 6px;
    }

    .moon {
        font-size: large;
        color: #fff;
        transition: 0.5s;
        margin-right: -40px;
        border-radius: 8px;
        display: none;
        padding: 5px 7px;
        text-align: center;
        margin-top: 6px;
    }

    .sun:hover,
    .moon:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #f83939;
        cursor: pointer;
    }


    .hamburger {
        display: none;
    }

    .navbar {
        background: rgba(4, 4, 4, 0.8);
        backdrop-filter: blur(10px);
        height: 70px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 0 5%;
        z-index: 9999999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid transparent;
        animation: show-border linear both;
        animation-timeline: scroll();
        animation-range: 0px 50px;
    }

    @keyframes show-border {
        from {
            border-bottom-color: transparent;
        }

        to {
            box-shadow: 0 6px 6px -1px rgba(255, 255, 255, 0.05),
                0 3px 4px -1px rgba(255, 255, 255, 0.03);
        }
    }

    /* -------------------- logo (name and image) -------------------- */

    .logo {
        display: flex;
        align-items: center;
        margin-left: -50px;
        font-size: 24px;
        font-family: "Exo 2", sans-serif;
        font-weight: bold;
    }

    .logo a {
        color: #fff;
        text-decoration: none;
        transition: 0.4s;
    }

    .logo span {
        color: #ff4d4d;
    }

    .img-logo {
        width: 97px;
        display: flex;
        margin-top: 5px;
        align-items: center;
        margin-right: -10px;
    }

    .صوره-اللوجو {
        width: 100%;
        transition: 0.2s;
    }

    .logo:hover a {
        color: #e54848;
    }

    .logo:hover .صوره-اللوجو {
        transform: scale(1.05);
        filter: brightness(0) saturate(100%) invert(35%) sepia(86%) saturate(4619%) hue-rotate(345deg) brightness(113%) contrast(80%);
    }

    /* ------------ links ------------- */
    .nav-phone {
        display: none;
        position: relative;
    }

    .nav-links-phone {
        margin: 0;
        padding: 0;
        background-color: #181818;
        position: absolute;
        list-style: none;
        right: 0;
        top: calc(100% + 15px);
        min-width: 200px;
        display: none;
    }

    .nav-links-phone li a {
        display: block;
        padding: 15px;
        color: #fff;
        transition: 0.3s;
    }

    .nav-links-phone li a:hover {
        color: rgb(229, 72, 72);
        padding-left: 25px;
    }

    .nav-links-phone li {
        border-bottom: 1px solid rgb(61, 55, 55);
    }


    .sun-phone {
        padding: 15px;
        color: #fff;
        transition: 0.3s;
        text-align: center;
    }

    .sun-phone-child {
        border-radius: 7px;
        padding: 5px;
        border: solid 1px #2c2c2c;
        background-color: #131313;
    }

    .sun-phone span {
        padding-left: 5px;
    }

    .sun-phone-child:hover {
        color: rgb(229, 72, 72);
        background-color: #2c2c2c;
    }

    .nav-links-phone::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #181818 transparent;
        position: absolute;
        right: 5px;
        top: -20px;
    }

    .nav-phone:hover .nav-links-phone {
        display: block;
    }

    .icon-nav {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-end;
    }

    .icon-nav span:first-child {
        height: 2px;
        width: 100%;
        background-color: #fff;
    }

    .icon-nav span:nth-child(2) {
        height: 2px;
        transition: 0.3s;
        width: 60%;
        background-color: #fff;
    }

    .icon-nav span:last-child {
        height: 2px;
        background-color: #fff;
        width: 100%;
    }

    .nav-phone:hover span:nth-child(2) {
        width: 100%;
    }

    .nav-links {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 0;
        padding: 0;
    }

    .nav-links li {
        margin: 0;
        padding: 0;
    }

    .nav-links a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        transition: 0.4s;
    }

    .nav-links a:hover {
        color: #e54848;
    }


    /* //////////////////////////////////////////////////////           hero 🔴         //////////////////////////////////////////////////////*/

    .Welcomeportfolio {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        gap: 8px;
        cursor: pointer;
    }

    .Welcomeportfolio:hover {
        color: tomato;
        transform: scale(1.05);
    }

    .Welcomeportfolio::after {
        content: attr(data-text);
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: max-width 0.5s ease, opacity 0.4s ease;
    }

    .Welcomeportfolio:hover::after {
        max-width: 200px;
        opacity: 1;
    }

    .typewriter {
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid #ff4d4d;
        width: 0;
        animation: typing 3s steps(50) forwards, blink 0.7s step-end infinite;
        margin: 0 auto;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 470px;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    .hero {
        height: 100%;
        margin-top: 33px;
        padding-top: 30px;
        color: #fff;
        text-align: center;
        height: 100vh;
        margin-bottom: 100px;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
    }

    .hero-content {
        display: block;
    }

    .hero h1 {
        font-size: 80px;
        font-family: 'Exo 2';
        margin: 10px 0;
    }

    .hero p {
        font-size: 24px;
        font-family: 'Dancing Script';
        color: #ff4d4d;
        margin-bottom: 22px;
    }

    .text-hero {
        margin-top: 9vh;
    }


    .hero img {
        margin: auto;
        margin-top: 10px;
    }



    .Hamza_Gamal {
        text-shadow: 1px 1px 30px rgba(255, 48, 48, 0.9);
    }

    .image-caption:hover .image {
        transform: scale(1.1, 1.1);
    }

    .image-caption:hover .caption {
        opacity: 1;
        transition: opacity 1s;
        transform: rotate(360deg);
    }

    .image-caption:hover .caption h2 {
        transition: left 1s 1s;
        left: 0;
    }

    .image-caption:hover .caption p {
        transition: left 1s 1s;
        left: 0;
    }

    @keyframes نبضة {
        0% {
            box-shadow: 0 0 1px #ff6e6e;
        }

        50% {
            box-shadow: 0 0 15px #ff6e6e;
        }

        100% {
            box-shadow: 0 0 1px #ff6e6e;
        }
    }

    .image {
        animation: نبضة 2s infinite;
        width: 200px;
        filter: contrast(115%) brightness(110%) saturate(150%);
        height: 200px;
        border-radius: 50%;
        border: #141414 solid;
        margin-top: 96px;
        transition: transform 1s 1s;
        margin: auto;
    }

    .image-caption {
        position: relative;
        overflow: hidden;
        margin-bottom: -32px;
        height: 230px;
        margin: auto;
        width: 240px;
    }

    .caption {
        position: absolute;
        overflow: hidden;
        left: 20px;
        background-color: rgba(48, 48, 48, 0.5);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: 13px;
        opacity: 0;
        transition: opacity 0.5s, transform 1s;
    }

    .caption p {
        color: tomato;
        transition: left 0.5s 0.5s;
        margin-top: 20px;
        font-family: "Exo 2", sans-serif;
        font-size: large;
        position: relative;
        left: 100%;
    }

    .caption h2 {
        transition: left 0.5s 0.5s;
        position: relative;
        left: 100%;
        background-color: rgba(0, 0, 0);
        padding-top: 30px;
        margin: 0;
        font-size: 20px;
        color: tomato;
        width: 90%;
        margin-left: 10px;
    }

    .main-btn {
        background: #e23b3b;
        color: #fff;
        padding: 12px 25px;
        transition: transform 0.3s, background-color 0.3S;
        text-decoration: none;
        border-radius: 5px;
        margin: 10px;
        border: 2px solid #444343;
    }

    .sec-btn {
        border: 2px solid #444343;
        color: #fff;
        padding: 10px 23px;
        background-color: #e23b3b;
        text-decoration: none;
        border-radius: 5px;
        margin: 10px;
        transition: transform 0.3s, background-color 0.3S;
    }

    .main-btn:hover,
    .sec-btn:hover {
        background-color: #d13030;
    }


    /* //////////////////////////////////////////////////////           about 🔴         //////////////////////////////////////////////////////*/

    .about {
        background-size: cover;
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
        padding: 20px 0 50px 50px;
        background-color: #141212;
        text-align: center;
    }

    .image-about,
    .about-dont-img {
        display: inline-block;
        text-align: left;
    }

    .p1-about {
        color: rgb(255, 0, 0);
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
    }

    .caption-about {
        color: rgba(255, 255, 255, 0.7);
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.4;
    }

    .puzzile-about {
        width: 110px;
        display: inline-block;
        border: #333 solid 0.5px;
        margin: 0 33px 0 0;
        border-radius: 15px;
        text-align: center;
        height: 80px;
        background-color: #202020;
        transition: 0.4s;
    }

    .puzzile-about:hover {
        transform: translateY(-5px);
        background-color: #313131;
    }

    .puzzile-about:active {
        transform: scale(0.90);
    }

    .about img {
        width: 310px;
        border-radius: 50px;
        padding-right: 40px;
    }


    .all-not-img {
        margin-bottom: 15px;
    }


    /* //////////////////////////////////////////////////////           Projects 🔴         //////////////////////////////////////////////////////*/

    .Projects {
        width: 100%;
        margin: 70px auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        gap: 25px;
        flex-wrap: wrap;
    }

    .Project {
        display: flex;
        padding: 0;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        box-sizing: border-box;
        transition: 0.3s;
        width: 30%;
        border: solid 0.5px rgba(255, 134, 134, 0.1);
        max-width: 400px;
        position: relative;
        border-radius: 15px;
    }

    .Project:nth-child(1)::after {
        content: "";
        position: absolute;
        left: 0;
        top: 30px;
        width: 100%;
        height: 225px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 1;
        pointer-events: none;
    }

    .Project:nth-child(2)::after {
        content: "";
        position: absolute;
        left: 0;
        top: 170px;
        height: 85px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 1;
        pointer-events: none;
    }
    
    .Project:nth-child(3)::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0px;
        width: 100%;
        height: 255px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 1;
        pointer-events: none;
    }

    .Project img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        filter: brightness(0.7);
        transition: transform 0.4s ease-in-out, filter 1s;
        margin: 0;
        height: 255px;
        display: block;
    }

    .Project .t-c-p {
        position: relative;
        z-index: 2;
        background-color: rgb(0, 0, 0);
    }

    .Project .t-c-p div:first-child {
        color: #fff;
        font-size: 20px;
        transition: 0.3s;
        margin: 0;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-family: "Exo 2", sans-serif;
        padding: 10px;
    }

    .Project .t-c-p div:last-child {
        transition: 0.3s;
        padding: 10px;
        color: rgb(100, 100, 100);
        border-bottom-left-radius: 15px;
        height: 120px;
        font-family: "Exo 2", sans-serif;
        line-height: 1.7;
        border-bottom-right-radius: 15px;

    }

    .Project:hover {
        transform: translate(0, -5px);
    }

    .Project:hover img {
        filter: brightness(1);
        transform: scale(1.03);
    }

    /* //////////////////////////////////////////////////////           skills 🔴         //////////////////////////////////////////////////////*/
    .skills {
        transition: 0.4s;
        margin: auto;
        text-align: center;
        border-radius: 23px;
        padding-bottom: 33px;
        margin-top: 100px;
        width: 500px;
        margin: auto;
        padding: 0 1.5% 1.5% 1.5%;
        margin-top: 33px;
        margin-top: 20px;
        position: relative;
        top: 100px;
        background-color: #070707;
        margin-top: 20px;
    }

    .skills-skills {
        width: 100%;
        background-color: #0e0e0e;
    }

    .bar {
        background: #222;
        border-radius: 20px;
        height: 10px;
    }

    .fill {
        background: #ff4d4d;
        height: 10px;
        border-radius: 20px;
    }

    .numper {
        float: right;
    }

    .skill-info {
        margin-bottom: 8px;
        color: #fff;
    }

    .caption-skills {
        color: #fff;
    }

    .icon-skills {
        float: left;
        font-size: 20px;
    }

    .image-skills {
        width: 19px;
        padding-top: 3px;
        float: left;
    }

    /* //////////////////////////////////////////////////////           footer 🔴         //////////////////////////////////////////////////////*/

    .footer {
        background-color: #0e0e0e;
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        flex-wrap: wrap;
        padding: 40px 40px 0 40px;
    }

    form {
        background: #070707;
        overflow: hidden;
        display: block;
        max-width: 600px;
        width: 55%;
        margin: 0 auto;
        border-radius: 10px;
        color: #fff;
        border: rgb(51, 51, 51) 0.1px solid;
        padding: 30px 17px;
        margin: 0;
    }

    .Contactme {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 300px;
    }

    .e-l-p {
        background-color: #070707;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        padding: 20px;
        padding-top: 25px;
        border-radius: 10px;
        border: rgb(51, 51, 51) 0.1px solid;
    }

    form input {
        background-color: #070707;
        border: 1px solid #333;
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: 27px;
        padding: 10px;
        width: 42%;
        color: #fff;
    }


    form button {
        padding: 20px;
        margin: 33px 0 0 0;
        background-size: cover;
        background-position: center center;
        border: #333 solid 1px;
        color: #f8f8f8;
        display: inline-block;
        border-radius: 5px;
        display: inline-block;
        background: rgb(230, 83, 54);
        text-align: center;
        margin: auto;
        width: 90%;
        margin-left: 5%;
        margin-right: 2.5%;
        transition: 0.3s;
    }

    form button:hover {
        background: rgb(202, 57, 31);
    }



    .icon-contactme {
        background-color: rgba(255, 0, 0, 0.2);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: red;
    }


    input:focus,
    textarea:focus {
        border-color: #fff;
        border-width: 2px;
        outline: none;
    }

    .title-contactme {
        font-weight: bold;
        color: white;
        text-align: left;
        display: block;
    }

    .data-contactme {
        color: gray;
        font-size: 14px;
        display: block;
    }

    .Contactme a {
        transition: 0.2s;
    }

    .Contactme a:hover {
        color: rgb(179, 14, 14);
    }

    .e-l-p-text {
        display: flex;
        flex-direction: column;
    }


    textarea {
        color: #fff;
        width: 90%;
        overflow: auto;
        display: flex;
        margin: auto;
        resize: vertical;
        min-height: 100px;
        max-height: 150px;
        height: 130px;
        border-radius: 5px;
        background-color: #070707;
        border: 1px solid #333;
        border-radius: 5px;
        padding: 10px;
    }


    /* /////////////////////////////////////  //////////////////////////////////  */

    footer {
        background-color: #000000;
        margin-top: 23px;
        color: gray;
        display: flex;
        flex-direction: column;
        border-top: #2c2c2c 1px solid;
        padding: 50px 0px;
        gap: 20px;
    }

    .footer-container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-row-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-box {
        display: flex;
        align-items: center;
    }

    .logo-box:hover .title-logo {
        color: #e23b3b;
    }

    .logo-box:hover .logo-image-footer {
        filter: brightness(0) saturate(100%) invert(35%) sepia(86%) saturate(4619%) hue-rotate(345deg) brightness(113%) contrast(80%);
    }

    .title-logo {
        color: #fff;
        transition: 0.5s;
        font-weight: bold;
        font-family: "Exo 2", sans-serif;
        font-size: larger;
        margin-left: -18px;
    }

    .title-logo:hover {
        color: #e23b3b;
    }

    .title-logo:hover .logo-image-footer {
        filter: brightness(0) saturate(100%) invert(35%) sepia(86%) saturate(4619%) hue-rotate(345deg) brightness(113%) contrast(80%);
    }

    .logo-image-footer {
        width: 80px;
        height: auto;
        transition: 0.5s;
    }

    .footer-row-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #2c2c2c;
        padding-top: 15px;
    }

    .footer-caption {
        padding-top: 10px;
        display: inline-block;
        transition: 0.3s;
        font-weight: 500;
        white-space: nowrap;
        font-size: 15px;
    }

    .icon-footer:hover {
        background-color: rgba(255, 131, 131, 0.1);
        color: #ff0000;
    }

    .icon-footer {
        color: #fff;
        font-size: 22px;
        height: 38px;
        width: 38px;
        display: inline-flex;
        justify-content: center;
        border-radius: 5px;
        align-items: center;
        transition: 0.3s;
    }

    .logo-footer:hover .logo-image-footer {
        transform: scale(1.05);
        filter: brightness(0) saturate(100%) invert(35%) sepia(86%) saturate(4619%) hue-rotate(345deg) brightness(113%) contrast(80%);
    }


    /* //////////////////////////////////////////////////////////////// media 🔴 //////////////////////////////////////////////////////////// */

    @media (max-width: 845px) {
        .nav-links {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: #111;
        }

        .nav-phone {
            display: block;
        }

        .logo {
            margin-left: -35px;
        }

        .hamburger {
            display: block;
        }

        .nav-links.active {
            display: block;
        }

        .hamburger {
            display: block;
        }
    }

    @media (max-width: 600px) {
        @keyframes typing {
            to {
                width: 360px;
            }
        }

        .hero p {
            font-size: 18px;
        }
    }

    @media (max-width: 970px) {

        .about-dont-img {
            margin-top: 50px;
        }
    }

    @media (max-width: 1007px) {

        .Project {
            width: 40%;
            max-width: 400px;
        }

    }

    @media (max-width: 750px) {

        .Project {
            width: 90%;
            max-width: 400px;
        }

    }

    @media (max-width: 635px) {
        .skills {
            width: 90%;
        }


        textarea {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        button {
            width: 100%;
        }
    }


    @media (max-width:777px) {
        .footer-caption {
            margin: auto;
            display: block;
            margin-bottom: 20px;
        }
    }

    @media (max-width: 600px) {
        .logo-image-footer {
            width: 110px;
            margin-right: -20px;
        }

        .footer-row-top {
            flex-direction: column;
            gap: 0;
            align-items: center;
            text-align: center;
        }

        .logo-box {
            flex-direction: row;
            gap: 0;
            padding-bottom: 15px;
            border-bottom: 1px solid #2c2c2c;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .title-logo {
            margin-left: 0;
            font-size: 18px;
        }

        .social-box {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 15px;
            padding-top: 15px;
            padding-bottom: 0;
        }

        .footer-row-bottom {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;
            border-top: none;
            padding-top: 0;
        }

        .footer-caption {
            width: 100%;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            margin: 0;
            white-space: normal;
            border-top: 1px solid #2c2c2c;
        }
    }


    @media (max-width: 909px) {
        .Contactme {
            width: 100%;
        }

        form {
            width: 100%;
        }
    }

    @media (max-width: 495px) {
        form input {
            width: 90%;
            margin-left: 15px;
        }
    }